* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

body {
    background-color: rgb(22, 31, 62);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    z-index: 1000;
    box-shadow: 10px 10px 10px #ccc;
}

.login-box {
    background: #0b112a;
    padding: 2rem;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

.logo {
    width: 160px;
    margin-bottom: 1rem;
}

.login-box h2 {
    margin-bottom: 1.5rem;
    color: #e4e7f0;
}

.input-group {
    margin-bottom: 1rem;
    text-align: left;
}

.input-group label {
    display: block;
    margin-bottom: 0.5rem;
    color: #e4e7f0;
}

.input-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.login-button {
    width: 100%;
    padding: 0.75rem;
    background: #e4e7f0;
    border: 2px solid #242424;
    border-radius: 4px;
    color: #0b112a;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.3s ease;
}

.login-button:hover {
    background: #242424;
    border: 2px solid #77787c;
    color: #ccc;
}

.logo-container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
}

.login-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
}
.logo{
    width: 100%;
}
.container {
    display: flex;
    width: 80%;
}

.parrafoSesion {
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 500;
    color: #ccc;
    margin-bottom: 1rem;
}